/**
 * html styles
 *
 * make page scroll smoothly on click
 */

html {
  height: 100%;
  scroll-behavior: smooth;
}

/**
 * Body styles
 */

body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

/**
 * Typography styles
 */

.text-light {
  color: white;
}

/**
 * Nav styles
 */

nav.navbar.shrink {
  min-height: 5em;
}

nav.navbar {
  // Animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logo {
  max-width: 50%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.logo.shrink {
  max-width: 35%;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nav-item.shrink {
  font-size: 0.75em;
}

/**
 * Home hero section styles
 */

.home-hero {
  background-position: center top !important;
  background-size: cover;
  min-height: 100vh;
}

.hh-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

.hh-row {
  align-self: center;
}

.hh-h1 {
  font-size: 4em;
  margin-top: 4.5em;
  margin-bottom: 0.25em;
}

.hh-p {
  font-size: 2em;
}

.hh-icon {
  margin: 3em 0;
}

/**
 * Page hero section styles
 */

.page-hero {
  background-position: center top !important;
  background-size: cover;
  min-height: 50vh;
}

.ph-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  overflow: auto;
}

.ph-row {
  align-self: center;
}

.ph-h1 {
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 0.25em;
}

.ph-p {
  font-size: 1.5em;
}

.ph-icon {
  margin: 1.25em 0;
}

/**
 * Fullscreen container styles
 */

.fs-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

.fs-row {
  align-self: center;
}

/**
 * Fullscreen content styles
 */

.fs-h2 {
  margin-top: 4.5em;
  margin-bottom: 1.5em;
}

.fs-h3 {
  height: 2em;
  margin-bottom: 1em;
}

.fs-p {
  margin-bottom: 2em;
}

.fs-img {
  margin-bottom: 2em;
}

.fs-button {
  margin-top: 2em;
}

.fs-icon {
  margin: 2em 0;
}

.content-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1.75em;
}

/**
 * Contact form styles
 */

.contact-form {
  margin-top: 1em;
}

.form-control {
  margin-bottom: 1em;
}

/**
 * Address styles
 */

.a-h3 {
  margin-top: 1em;
  margin-bottom: 1.25em;
}

.a-h4 {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/**
 * Services page styles
 */

.services-h3 {
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.services-h4 {
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
}

.services-p {
  height: 13em;
}

/**
 * Graphic styles
 */

.icon-md {
  font-size: 2.5em;
}

.icon-lg {
  font-size: 5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.icon-light {
  color: white;
}

.icon-dark {
  color: black;
}

.last-icon {
  margin-top: 2em;
  margin-bottom: 3em;
}

/**
 * Media queries
 */

/* fixes .container interference with printing in Safari v8.0 */
@media print {
  .container {
    width: auto;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    background-color: #343a40 !important;
  }
  .logo {
    max-width: 100%;
  }
  .logo.shrink {
    max-width: 100%;
  }
  .hh-h1 {
    font-size: 2em;
    margin-top: 3em;
  }
  .hh-p {
    font-size: 1em;
  }
  .hh-icon {
    margin: 1.25em 0;
  }
  .fs-h2 {
    margin-bottom: 1em;
  }
  .fs-h3 {
    height: auto;
  }
  .services-h3 {
    height: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .services-h4 {
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
  }
  .services-p {
    height: auto;
  }
  .icon-lg {
    font-size: 2em;
  }
}
