/* Font families

font-family: 'Average', serif;
font-family: 'Open Sans', sans-serif;

/* Body styles */

body {
  font-family: 'Open Sans', sans-serif;
}

/* Navbar styles */

.logo {
  height: 50px;
  max-width: 100%;
}

nav.navbar {
	background: transparent;
}

.nav-item {
  padding-left: .6em;
  padding-right: .6em;
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
  font-family: 'Average', serif;
  font-size: 1em;
  color: rgba(255,255,255,1);
  margin-top: .5em;
}
  
.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: rgba(255,255,255,.75);
}

/* Jumbotron styles */
.jumbotron {
  background-image: url("../img/home.jpg");
  background-size: cover;
  margin-top: 0px;
  padding-top: 15em;
  padding-bottom: 10.5em;
}

.jumbotron-title {
  font-size: 4em;
  color: #fff;
  font-weight: bold;
  margin-bottom: .2em;
}

.jumbotron-sub-home {
  font-size: 2em;
  color: #fff;
  margin-bottom: 2em;
}

.jumbotron-sub {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 3em;
}

/* Scroll button styles */

.scroll-btn-light {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: .75em 1.25em;
}

.scroll-btn-dark {
  border: 3px solid #000;
  border-radius: 50%;
  padding: .75em 1.25em;
}

span.fa-light {
  color: #fff;
  font-size: 2em;
}

span.fa-dark {
  color: #000;
  font-size: 2em;
}

/* Layout 1 row styles */

.section-top {
  margin-bottom: 5em;
}

.content-row {
  margin-top: 0;
}

.scroll-row {
  margin-top: 5em;
  margin-bottom: 2em;
}

.last-scroll-row {
  margin-top: 5em;
  margin-bottom: 0;
}

.section-img-left {
  padding-right: 4em;
  padding-left: 0;
}

.section-blurb-right {
  padding-right: 8em;
  padding-left: 0;
}

.section-img-right {
  padding-left: 0;
  margin-left: -3.1em;
}

.section-blurb-left {
  padding-left: 8em;
  padding-right: 0;
}

.section-blurb-para {
  padding-right: 7em;
}

.final-section {
  padding-bottom: 7em;
}

footer {
  margin-top: 2em;
  border: 1px solid #000;
  padding-top: 2em;
}

.copyright {
  padding-bottom: 1em;
}

img {
  height: 400px;
  width: 400px;
  max-width: 100%;
}

.contact-header {
  margin-bottom: .75em;
}

/* Layout 2 styles */

.extra-space-row {
  margin-bottom: 3em;
}

/* Home page styles */

.img-home {
  width: 400px;
  height: 400px;
  max-width: 100%;
}

/* change navbar background on collapse */
@media (max-width: 768px) {
  nav.navbar {
    background: rgba(0,0,0,.5);
  }
}
