<main aria-label="Content" role="main">
  <div class="scroll">
    <a id="top"></a>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center jumbotron-title">{{ page.title }}</h1>
      <p class="text-center jumbotron-sub">{{ page.subtitle }}</p>
      <div class="text-center">
        <a href="#contact" class="btn btn-circle scroll-btn-light">
          <span class="fa fa-angle-double-down fa-light animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="contact"></a>
  </div>
  <div class="container">
    <div class="row content-row align-items-center">
      <div class="co-xs-visible col">
        <h2 class="contact-header">James Kruth | <a href="mailto:james@arsmentis.com">james@arsmentis.com</a></h2>
        <p>Phone/Fax: 517.325.3759</p>
        <p>Ars Mentis LLC<br>
          5208 W Saginaw HWY #80421<br>
          Lansing MI 48908
        </p>
      </div>
    </div>
    <div class="row last-scroll-row">
      <div class="col text-center">
        <a href="#top" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-up fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
</main>
