<footer class="mt-n5">
  <div class="container-fluid p-0">
    <div class="text-center">
      <p class="copyright">
        <small>
          Copyright &copy; {{ page.date | default: site.time | date: "%Y" }}
          <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
        </small>
      </p>
      <p class="copyright">
        <small>
          <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a>
        </small>
      </p>

      {% if site.license %}
      <p class="license">
        <small>{{ site.license }}</small>
      </p>
      {% endif %}
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $(window).scroll(function () {
    if ($(document).scrollTop() > 50) {
      $("nav").addClass("shrink");
      $("nav").removeClass("bg-transparent");
      $("nav").addClass("bg-dark");
      $(".logo").addClass("shrink");
      $(".nav-item").addClass("shrink");
    } else {
      $("nav").removeClass("shrink");
      $("nav").removeClass("bg-dark");
      $("nav").addClass("bg-transparent");
      $(".logo").removeClass("shrink");
      $(".nav-item").removeClass("shrink");
    }
  });
</script>
