<div id="preload">
  <img src="{{ '/img/bg-img.jpg' | relative_url }}" class="img-fluid logo" />
</div>

<nav class="navbar navbar-dark fixed-top bg-transparent navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand w-75" href="{{ '/' | relative_url }}">
      <img src="{{ '/img/logo.png' | relative_url }}" class="img-fluid logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {% assign sorted_pages = site.html_pages | sort:"order" %} {% for node
        in sorted_pages %} {% if node.url == '/' %} {% continue %} {% endif %}
        {% if node.order %}
        <li class="nav-item">
          <a class="nav-link mt-2 pl-md-3" href="{{ node.url | relative_url }}">{{node.title}}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</nav>