<main aria-label="Content" role="main">
  <div class="scroll">
    <a id="top"></a>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center jumbotron-title">Custom Software Solutions</h1>
      <p class="text-center jumbotron-sub-home">All problems have solutions. Let me solve yours.</p>
      <div class="text-center">
        <a href="#about" class="btn btn-circle scroll-btn-light">
          <span class="fa fa-angle-double-down fa-light animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="about"></a>
  </div>
  <div class="container">
    <div class="row content-row align-items-center">
      <div class="col text-right section-img-left">
        <img class="img-fluid img-thumbnail img-home rounded" src="{{ "/img/about.png" | relative_url }}">
      </div>
      <div class="co-xs-visible col">
        <h2>Why choose Ars Mentis?</h2>
        <p class="section-blurb-right">I create custom software solutions for clients of any size. From concept to completion, I'll work with you to make your idea a reality."</p>
        <a href="{{ "/about/" | prepend: site.baseurl }}" type="button" class="btn btn-primary">Learn about Ars Mentis</a>
      </div>
    </div>
    <div class="row scroll-row">
      <div class="col text-center">
        <a href="#services" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-down fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="services"></a>
  </div>
  <div class="container">
    <div class="row content-row align-items-center">
      <div class="co-xs-visible col section-blurb-left">
        <h2>Services</h2>
        <p class="section-blurb-para">Whether you need custom software or IT solutions, I offer a variety of services to meet your needs.</p>
        <a href="{{ "/services/" | prepend: site.baseurl }}" type="button" class="btn btn-primary">Review my services</a>
      </div>
      <div class="col text-left section-img-right">
        <img class="img-fluid img-thumbnail img-home rounded" src="{{ "/img/clients.png" | relative_url }}">
      </div>
    </div>
    <div class="row scroll-row">
      <div class="col text-center">
        <a href="#clients" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-down fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="clients"></a>
  </div>
  <div class="container">
    <div class="row content-row align-items-center">
      <div class="col text-right section-img-left">
        <img class="img-fluid img-thumbnail img-home rounded" src="{{ "/img/services.png" | relative_url }}">
      </div>
      <div class="co-xs-visible col">
        <h2>Clients</h2>
        <p class="section-blurb-right">From big businesses to small entrepreneurs, I've helped a wide range of clients.</p>
        <a href="{{ "/clients/" | prepend: site.baseurl }}" type="button" class="btn btn-primary">See my current and past projects</a>
      </div>
    </div>
    <!--<div class="row scroll-row">
      <div class="col text-center">
        <a href="#mentor" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-down fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="mentor"></a>
  </div>
  <div class="container">
    <div class="row content-row align-items-center">
      <div class="co-xs-visible col section-blurb-left">
        <h2>Community Engagement</h2>
        <p class="section-blurb-para">Through volunteering and career mentorship, I am committed to supporting my local community of coders</p>
        <a href="{{ "/community/" | prepend: site.baseurl }}" type="button" class="btn btn-primary">Learn how I support my community</a>
      </div>
      <div class="col text-left section-img-right">
        <img class="img-fluid img-thumbnail img-home rounded" src="{{ "/img/mentor.png" | relative_url }}">
      </div>
    </div>-->
    <div class="row last-scroll-row">
      <div class="col text-center">
        <a href="#top" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-up fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
</main>
