<main aria-label="Content" role="main">
  <div class="scroll">
    <a id="top"></a>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center jumbotron-title">{{ page.title }}</h1>
      <p class="text-center jumbotron-sub">{{ page.subtitle }}</p>
      <div class="text-center">
        <a href="#customSoftware" class="btn btn-circle scroll-btn-light">
          <span class="fa fa-angle-double-down fa-light animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="customSoftware"></a>
  </div>
  <div class="container">
    <div class="row content-row">
      <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Custom Software</h2>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-comments"></i>
        </span>
        <h4>Consulting</h4>
        <p>We’ll work together to turn your idea into a viable solution</p>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-hard-hat"></i>
        </span>
        <h4>Development</h4>
        <p>Once we’ve found a solution, I can make it a reality</p>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-paint-brush"></i>
        </span>
        <h4>Design</h4>
        <p>One of my designers will create the perfect look for your product</p>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-md-4 offset-md-2 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-chart-bar"></i>
        </span>
        <h4>Analysis</h4>
        <p>I can propose enhancements and solutions for your existing applications</p>
      </div>
      <div class="col-md-4 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-tools"></i>
        </span>
        <h4>Support</h4>
        <p>I stand by my software; if a bug is my fault, I’ll fix it for free</p>
      </div>
    </div>
    <div class="row scroll-row">
      <div class="col text-center">
        <a href="#itSolutions" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-down fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="itSolutions"></a>
  </div>
  <div class="container">
    <div class="row content-row">
      <div class="col-md-4 offset-md-4">
        <h2 class="text-center">IT Solutions</h2>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-comments"></i>
        </span>
        <h4>Consulting</h4>
        <p>I can provide guidance on purchasing new systems</p>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-chart-bar"></i>
        </span>
        <h4>Analysis</h4>
        <p>I can analyze your current system for problems</p>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-cogs"></i>
        </span>
        <h4>Configuration</h4>
        <p>I can configure your servers and set up your office network</p>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-md-4 offset-md-2 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-tools"></i>
        </span>
        <h4>Support</h4>
        <p>I’ll provide you with long-term, post-configuration support</p>
      </div>
      <div class="col-md-4 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-cloud"></i>
        </span>
        <h4>Hosting</h4>
        <p>I’ll securely host your application or content</p>
      </div>
    </div>
    <div class="row scroll-row">
      <div class="col text-center">
        <a href="#capabilities" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-down fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-top">
    <a id="capabilities"></a>
  </div>
  <div class="container">
    <div class="row content-row">
      <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Capabilities</h2>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="far fa-object-group"></i>
        </span>
        <h4>Mock-ups & Design Specifications</h4>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-hard-hat"></i>
        </span>
        <h4>Web & Mobile App Development</h4>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-cash-register"></i>
        </span>
        <h4>eCommerce Integration</h4>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-database"></i>
        </span>
        <h4>Database Design & Analysis</h4>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-expand-arrows-alt"></i>
        </span>
        <h4>Cross-platform Development</h4>
      </div>
      <div class="col-sm text-center">
        <span style="font-size: 7em">
          <i class="fas fa-exchange-alt"></i>
        </span>
        <h4>Automated Data Transformation & Conversion</h4>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-md-4 offset-md-2 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-tools"></i>
        </span>
        <h4>Server Configuration & Management</h4>
        <p>Primarily GNU/Linux</p>
      </div>
      <div class="col-md-4 text-center">
        <span style="font-size: 7em">
          <i class="fas fa-network-wired"></i>
        </span>
        <h4>Network Infrastructure Configuration</h4>
      </div>
    </div>
    <div class="row last-scroll-row">
      <div class="col text-center">
        <a href="#top" class="btn btn-circle scroll-btn-dark">
          <span class="fa fa-angle-double-up fa-dark animated"></span>
        </a>
      </div>
    </div>
  </div>
</main>
