---
layout: default
---

<div class="page-hero">
  <div class="row">
    <a href="#" id="top"></a>
  </div>
  <div class="container ph-container">
    <div class="row ph-row">
      <div class="col-12">
        <h1 class="text-center text-light ph-h1">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row ph-row">
      <div class="col-12">
        <a href="#second" class="btn btn-round">
          <i class="fas fa-angle-double-down icon-md icon-light ph-icon" title="angle-double-down"
            aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="second"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">{{ page.subtitle }}</h2>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-6 content-col">
      <h3 class="text-center fs-h3">About Ars Mentis</h3>
      <img src="{{ " /img/about-filler-1.jpg" | relative_url }}" class="img-fluid
      d-none shadow fs-img" alt="" role="presentation">
      <p class="text-justify fs-p">
        I started Ars Mentis in 2009 with the idea that technology should enrich
        lives, not complicate them. Since then, my company and client list have
        grown. From designing a database for one of the world’s largest law
        repositories to creating an online employment application for a
        family-owned cleaning business, I’ve created solutions for a broad range
        of clients at every level of business. Open communication and high
        standards are integral to my business philosophy.
      </p>
      <p class="text-justify fs-p">
        All problems have solutions. Let me solve yours.
      </p>
    </div>
    <div class="col-12 col-md-6 content-col">
      <h3 class="text-center fs-h3">About James Kruth</h3>
      <img src="{{ " /img/about-filler-2.jpg" | relative_url }}" class="img-fluid
      d-none shadow fs-img" alt="" role="presentation">
      <p class="text-justify fs-p">
        I was <em>that</em> geek in your high school. I started programming at
        8, building computers at 13, and started my own IT consulting business
        at 15. I still love technology, and enjoy sharing it with others. Before
        starting Ars Mentis, I worked for companies both large and small, public
        and private. I’ve designed custom software at all levels and specialize
        in web and mobile applications and data transformation and conversion.
        Basically, I like making stuff work, and I like showing other people how
        to do the same.
      </p>
      <p class="text-justify fs-p">
        I also play guitar. Just to even things out.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#top" class="btn btn-round">
        <i class="fas fa-angle-double-up icon-md icon-dark fs-icon" title="angle-double-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>