---
layout: default
---

<div class="page-hero">
  <div class="row">
    <a href="#" id="top"></a>
  </div>
  <div class="container ph-container">
    <div class="row ph-row">
      <div class="col-12">
      	<h1 class="text-center text-light ph-h1">
      	  {{ page.title }}
      	</h1>
      </div>
    </div>
    <div class="row ph-row">
      <div class="col-12">
      	<a href="#second" class="btn btn-round">
      	  <i class="fas fa-angle-double-down icon-md icon-light ph-icon" title="angle-double-down" aria-hidden="true"></i>
      	</a>
      </div>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="second"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">
        {{ page.subtitle }}
      </h2>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.pawnguru.com/">
        <h3 class="text-center services-h3">
          PawnGuru
        </h3>
        <img src="{{ "/img/pawnguru.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Engineering Consultating
      </h4>
      <p class="text-justify services-p">
        I consult with PawnGuru's team of engineers as a code reviewer. I carry out source code reviews to ensure code quality and confirm that industry standards and best practices are met. I also act as a sounding board, generating new ideas to meet PawnGuru's emerging needs. 
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://environmentreport.org/">
        <h3 class="text-center services-h3">
          Michigan Radio
        </h3>
        <img src="{{ "/img/environmentReport.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Environment Report Data Transfer
      </h4>
      <p class="text-justify services-p">
        I helped Michigan Radio move over 5000 articles (nearly 15 years of archives) from a custom build CMS to a standard <a href="https://wordpress.org/">WordPress</a> site. This 	process included cleaning data sources, transiting audio and images from the old site, and providing redirect links to maintain SEO with the new site.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.nsbasic.com/">
        <h3 class="text-center services-h3">
          NS Basic Corporation
        </h3>
        <img src="{{ "/img/appstudio.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        AppStudio Development
      </h4>
      <p class="text-justify services-p">
        AppStudio is a cross platform, integrated development environment for the creation of mobile applications. I’ve been involved with the project from the outset, first as the programming languages consultant and now as the lead developer.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.animallaw.info/">
        <h3 class="text-center services-h3">
          MSU College of Law
        </h3>
        <img src="{{ "/img/animallaw.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Animal Law Data Transfer
      </h4>
      <p class="text-justify services-p">
        I transitioned Michigan State University’s Animal Law repository, the largest of its kind, from a proprietary CMS to Drupal. I reverse engineered the undocumented proprietary CMS, hosted and configured Drupal, and managed data migration. I now provide continuous support.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="http://ldx.vudat.msu.edu/">
        <h3 class="text-center services-h3">
          MSU Teaching & Learning
        </h3>
        <img src="{{ "/img/teachlearn.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Consultation & Issue Resolution
      </h4>
      <p class="text-justify services-p">
        I investigated and resolved a high priority networking issue with their Flash based LDX simulation. The task involved a deep dive into legacy source code to determine a root cause for intermittent connectivity problems between the media server and the back end database.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://electionforensics.cps.isr.umich.edu/">
        <h3 class="text-center services-h3">
          UofM Inst. for Social Research
        </h3>
        <img src="{{ "/img/isreft.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Election Forensics Toolkit
      </h4>
      <p class="text-justify services-p">
        I improved the functionality of the existing UofM Center for Political Studies Election Forensics Toolkit app by conducting a code review. I helped put together an engineering team to correct issues, and managed technical support and app maintenance.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://frostwallet.io/">
        <h3 class="text-center services-h3">
          FrostWallet
        </h3>
        <img src="{{ "/img/frostwallet.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Engineering Consulting
      </h4>
      <p class="text-justify services-p">
        The FrostWallet team contacted me to improve their existing app. I conducted a code review, revealed issues, and worked with the team to implement changes while ensuring code quality and that industry standards were followed.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://thoughtback.com/">
        <h3 class="text-center services-h3">
          Thoughtback
        </h3>
        <img src="{{ "/img/thoughtback.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        App Development
      </h4>
      <p class="text-justify services-p">
        Thoughtback is a web and mobile productivity app that has been installed on thousands of Android devices. I developed Thoughtback’s Android app and was an early member of the development team for the web app.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://home.demandfood.com/">
        <h3 class="text-center services-h3">
          DemandFood
        </h3>
        <img src="{{ "/img/demandFood.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        App Development
      </h4>
      <p class="text-justify services-p">
        DemandFood is a food delivery service based in Austin, TX. I have created and currently support a mobile API and cross platform app which supports DemandFood’s delivery service 	using modern, highly available web technologies.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.joplinstockyards.com/">
        <h3 class="text-center services-h3">
          Joplin Regional Stockyard
        </h3>
        <img src="{{ "/img/joplinstockyards.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        App Consulting
      </h4>
      <p class="text-justify services-p">
        I developed and implemented logic for offline data synchronization and acted as a code reviewer. I established code quality standards that aligned with industry standards and best practices, then located and corrected any issues.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://agrinet.ie/">
        <h3 class="text-center services-h3">
          Agrinet
        </h3>
        <img src="{{ "/img/agrinet.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        App Consulting
      </h4>
      <p class="text-justify services-p">
        I helped the Agrinet team to develop and implement logic for offline data synchronization. I reviewed existing code for issues, and ensured Agrinet's code met industry standards and best practices.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.olark.com/">
        <h3 class="text-center services-h3">
          Olark, Habla LLC
        </h3>
        <img src="{{ "/img/olark.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        App Development
      </h4>
      <p class="text-justify services-p">
        Olark helps businesses integrate online chatting capabilities into their websites. Olark contacted me to build a custom <a href="https://www.pidgin.im/">Pidgin</a> installer for Windows based on the default <a href="http://nsis.sourceforge.net/Main_Page">Nullsoft</a> installer.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.olivetcollege.edu/">
        <h3 class="text-center services-h3">
          Olivet College
        </h3>
        <img src="{{ "/img/olivet.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Teaching & Operational Support
      </h4>
      <p class="text-justify services-p">
        I was instrumental in implementing and maintaining Olivet College’s experimental GNU/Linux-based computer lab. Additionally, I was previously an adjunct professor in the Computer Science department teaching Computer Science I & II, Relational Database Systems, Computer Networking and Computer Organization & Assembly Language.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://www.americanqualitycleaninginc.com/">
        <h3 class="text-center services-h3">
          American Quality Cleaning
        </h3>
        <img src="{{ "/img/americanqualitycleaning.png" | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      </a>
      <h4 class="text-center services-h4">
        Web Development & Support
      </h4>
      <p class="text-justify services-p">
        I developed a Java application form for American Quality Cleaners, and now provide continuous web hosting and support.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center services-h3">
        Alliant Healthcare Products
      </h3>
      <img src="{{ "/img/alliant.png"  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt="" role="presentation">
      <h4 class="text-center services-h4">
        App Development
      </h4>
      <p class="text-justify services-p">
        I created an internal web application for Alliant Healthcare Products which enabled the company to track sales leads.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#top" class="btn btn-round">
	<i class="fas fa-angle-double-up icon-md icon-dark fs-icon" title="angle-double-up" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
