---
layout: default
---

<div class="scroll img-section">
  <a id="top"></a>
</div>
<div class="img-section">
	<div class="jumbotron jumbotron-fluid">
		<h1 class="text-center jumbotron-title">{{ page.title }}</h1>
		<p class="text-center jumbotron-sub">{{ page.subtitle }}</p>
		<div class="text-center">
			<a href="#contact" class="btn btn-circle scroll-btn-light">
				<span class="fa fa-angle-double-down fa-light animated"></span>
			</a>
		</div>
	</div>
</div>
<div class="section-top">
  <a id="contact"></a>
</div>
<div class="container">
	<div class="short-section">
		<div class="row content-row">
			<div class="col-xs-12 col-sm-8 offset-sm-2">
				<h2 class="text-center">James Kruth</h2>
				<h3 class="text-center"><a href="mailto:james@arsmentis.com">james@arsmentis.com</a></h3>
				<p class="text-center">Phone/Fax: 517.325.3759</p>
				<p class="text-center">Ars Mentis LLC<br>
					5208 W Saginaw HWY #80421<br>
					Lansing MI 48908
				</p>
			</div>
		</div>
		<div class="row scroll-row last-scroll-row">
			<div class="col text-center">
				<a href="#top" class="btn btn-circle scroll-btn-dark">
					<span class="fa fa-angle-double-up fa-dark animated"></span>
				</a>
			</div>
		</div>
	</div>
</div>
