---
layout: default
---

<div class="page-hero">
  <div class="row">
    <a href="#" id="top"></a>
  </div>
  <div class="container ph-container">
    <div class="row ph-row">
      <div class="col-12">
        <h1 class="text-center text-light ph-h1">
          {{ page.title }}
        </h1>
      </div>
    </div>
    <div class="row ph-row">
      <div class="col-12">
      	<a href="#second" class="btn btn-round">
      	  <i class="fas fa-angle-double-down icon-md icon-light ph-icon" title="angle-double-down" aria-hidden="true"></i>
      	</a>
      </div>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="second"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">
        Ready to get started? Contact me now!
      </h2>
    </div>
    <!--<div class="col-12 col-md-6 offset-md-1">
      <form class="needs-validation contact-form" novalidate>
      	<div class="form-row">
      	  <div class="col col-xs-12">
      	    <label for="validationFirstName" class="sr-only">
              First name
            </label>
      	    <input type="text" class="form-control form-control-lg shadow" id="validationFirstName" placeholder="First name" required>
      	    <div class="valid-feedback">
      	      Looks good!
      	    </div>
      	    <div class="invalid-feedback">
      	      Please include your name.
      	    </div>
      	  </div>
      	  <div class="col col-xs-12">
      	    <label for="validationLastName" class="sr-only">
              Last name
            </label>
      	    <input type="text" class="form-control form-control-lg shadow" id="validationLastName" placeholder="Last name" required>
      	    <div class="valid-feedback">
      	      Looks good!
      	    </div>
      	    <div class="invalid-feedback">
      	      Please include your name.
      	    </div>
          </div>
      	</div>
      	<div class="form-row">
      	  <div class="col col-xs-12">
      	    <label for="validationEmail" class="sr-only">
              Email
            </label>
      	    <input type="email" class="form-control form-control-lg shadow" id="validationEmail" placeholder="email@example.com" required>
      	  </div>
      	</div>
      	<div class="form-row">
      	  <div class="col">
      	    <label for="validationUserMessage" class="sr-only">
              Message
            </label>
      	    <textarea class="form-control form-control-lg shadow" id="validationUserMessage" rows="3" aria-label="Message area" required></textarea>
      	  </div>
      	</div>
      	<div class="form-row">
      	  <div class="col">
      	    <button type="submit" class="btn btn-lg btn-primary text-center shadow">
              Submit
            </button>
      	  </div>
      	</div>
      </form>
    </div>-->
    <div class="col-12 col-md-6 offset-md-3">
      <h3 class="text-center a-h3">
        James Kruth
      </h3>
      <h4 class="text-center a-h4">
        <a class="text-center" href="mailto:james@arsmentis.com">
          james@arsmentis.com
        </a>
      </h4>
      <p class="text-center">
        Phone/Fax: 517.325.3759
      </p>
      <p class="text-center">
        Ars Mentis LLC<br>2075 W Stadium Blvd # 3348<br>Ann Arbor, MI 48106-7797
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#top" class="btn btn-round">
        <i class="fas fa-angle-double-up icon-md icon-dark last-icon" title="angle-double-up" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
