---
layout: default
---

<div class="home-hero">
  <div class="row">
    <a href="#" id="top"></a>
  </div>
  <div class="container hh-container">
    <div class="row hh-row">
      <div class="col-12">
        <h1 class="text-center text-light hh-h1">{{ page.ptitle }}</h1>
        <p class="text-center text-light hh-p">{{ page.subtitle }}</p>
      </div>
    </div>
    <div class="row hh-row">
      <div class="col-12">
        <a href="#second" class="btn btn-round">
          <i class="fas fa-angle-double-down icon-md icon-light hh-icon" title="angle-double-down"
            aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="second"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">Why choose Ars Mentis?</h2>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">Custom Software</h3>
      <img src="{{ '/img/services-filler-1.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        We’ll work together to turn your idea into a viable, feature rich,
        high-quality solution. I stand by my software and provide long-term
        support; if a bug is my fault, I’ll fix it for free.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">Professional Coaching</h3>
      <img src="{{ '/img/services-filler-2.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        I have 10 years of experience teaching and mentoring. If you're looking
        to reinforce the basics or learn the hot new framework, I can help you
        achieve your goals.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">IT Solutions</h3>
      <img src="{{ '/img/services-filler-3.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        I can provide guidance on purchasing systems, analyze existing systems,
        and provide secure and long-term hosting, configuration, and maintenance
        services.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <p class="text-center fs-button">
        <a href="{{ '/services/' | relative_url }}" class="btn btn-lg btn-primary shadow">
          Check out my services and capabilities
        </a>
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#third" class="btn btn-round">
        <i class="fas fa-angle-double-down icon-md icon-dark fs-icon" title="angle-double-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="third"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">
        Solutions for every problem, big business or small
      </h2>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <a href="https://volt.build/">
        <h3 class="text-center fs-h3">NS Basic - VoltBuilder</h3>
        <img src="{{ '/img/voltbuilder.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt=""
          role="presentation" />
      </a>
      <p class="text-justify fs-p">
        I have been involved as a lead consultant and primary back-end engineer on the VoltBuilder project since its
        inception. I collaborated in the development of the idea of VoltBuilder, and continue to direct the progress
        of the product. I designed and implemented all back-end infrastructure of the product, and currently monitor
        and maintain the product in its entirety.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://wdet.org/">
        <h3 class="text-center fs-h3">WDET</h3>
        <img src="{{ '/img/wdet.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt=""
          role="presentation" />
      </a>
      <p class="text-justify fs-p">
        I helped WDET transition from a custom build CMS to a standard WordPress site. This process involved
        transferring over 10,000 articles, along with audio, video, and image files, from the old to the new site. I
        cleaned up data sources and maintained SEO using redirect links.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <a href="https://heywallet.io/">
        <h3 class="text-center fs-h3">HeyWallet</h3>
        <img src="{{ '/img/heywallet.jpg'  | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img" alt=""
          role="presentation" />
      </a>
      <p class="text-justify fs-p">
        As an engineering consultant for the HeyWallet team, I implemented validation strategies to ensure that
        HeyWallet's source code met industry standards and best practices. I also helped to guide project development
        through by generating ideas to meet HeyWallet's needs.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <p class="text-center fs-button">
        <a href="{{ '/clients/' | relative_url }}" class="btn btn-lg btn-primary shadow">
          View more clients and solutions
        </a>
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#fourth" class="btn btn-round">
        <i class="fas fa-angle-double-down icon-md icon-dark fs-icon" title="angle-double-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="fourth"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">How it works</h2>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">Consultation</h3>
      <img src="{{ '/img/howitworks-filler-1.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        We'll work together to create a comprehensive project plan, timeline,
        product specs, and mock-ups for your idea. Or, if you have an existing
        product, I can propose enhancements and solutions to help you achieve
        your development goals.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">Development</h3>
      <img src="{{ '/img/howitworks-filler-2.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        I can work with your team, or assemble a team, to develop your project.
        During the development phase, I will review your project to make sure
        standards are met and best practices are observed. One of my designers
        will create the perfect look for your product.
      </p>
    </div>
    <div class="col-12 col-md-4 content-col">
      <h3 class="text-center fs-h3">Support</h3>
      <img src="{{ '/img/howitworks-filler-3.jpg' | relative_url }}" class="img-fluid d-none d-md-inline shadow fs-img"
        alt="" role="presentation" />
      <p class="text-justify fs-p">
        Once your project is complete, I will provide long-term support. Whether
        I helped configure your office network, helped improve your existing
        product, or built your new product, I will monitor for problems, manage
        systems, and find solutions to any emergent issues.
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <p class="text-center fs-button">
        <a href="{{ '/contact/' | relative_url }}" class="btn btn-lg btn-primary shadow">
          Get started today!
        </a>
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#fifth" class="btn btn-round">
        <i class="fas fa-angle-double-down icon-md icon-dark fs-icon" title="angle-double-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="container fs-container">
  <div class="row">
    <a href="#" id="fifth"></a>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <h2 class="text-center fs-h2">Ready to get started? Contact me now!</h2>
    </div>
    <!--<div class="col-12 col-md-6 offset-md-1">
      <form class="needs-validation contact-form" novalidate>
        <div class="form-row">
          <div class="col col-xs-12">
            <label for="validationFirstName" class="sr-only">
              First name
            </label>
            <input type="text" class="form-control form-control-lg shadow" id="validationFirstName" placeholder="First name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please include your name.
            </div>
          </div>
          <div class="col col-xs-12">
            <label for="validationLastName" class="sr-only">
              Last name
            </label>
            <input type="text" class="form-control form-control-lg shadow" id="validationLastName" placeholder="Last name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please include your name.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col col-xs-12">
            <label for="validationEmail" class="sr-only">
              Email
            </label>
            <input type="email" class="form-control form-control-lg shadow" id="validationEmail" placeholder="email@example.com" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="validationUserMessage" class="sr-only">
              Message
            </label>
            <textarea class="form-control form-control-lg shadow" id="validationUserMessage" rows="3" aria-label="Message area" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <button type="submit" class="btn btn-lg btn-primary text-center shadow">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>-->
    <div class="col-12 col-md-6 offset-md-3">
      <h3 class="text-center a-h3">James Kruth</h3>
      <h4 class="text-center a-h4">
        <a class="text-center" href="mailto:james@arsmentis.com">
          james@arsmentis.com
        </a>
      </h4>
      <p class="text-center">Phone/Fax: 517.325.3759</p>
      <p class="text-center">
        Ars Mentis LLC<br />2075 W Stadium Blvd # 3348<br />Ann Arbor, MI
        48106-7797
      </p>
    </div>
  </div>
  <div class="row fs-row">
    <div class="col-12">
      <a href="#top" class="btn btn-round">
        <i class="fas fa-angle-double-up icon-md icon-dark last-icon" title="angle-double-up" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>