---
layout: default
---

<div class="scroll img-section">
  <a id="top"></a>
</div>
<div class="img-section">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="text-center jumbotron-title">{{ page.title }}</h1>
			<p class="text-center jumbotron-sub">{{ page.subtitle }}</p>
			<div class="text-center">
				<a href="#customSoftware" class="btn btn-circle scroll-btn-light">
					<span class="fa fa-angle-double-down fa-light animated"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="section-top">
  <a id="customSoftware"></a>
</div>
<div class="container">
  <div class="row extra-space-row justify-content-center">
    <div class="col-md">
      <h2 class="text-center">Custom Software</h2>
    </div>
  </div>
  <div class="row extra-space-row justify-content-center">
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-comments"></i>
      </span>
      <h4>Consulting</h4>
      <p>We’ll work together to turn your idea into a viable solution</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-hard-hat"></i>
      </span>
      <h4>Development</h4>
      <p>Once we’ve found a solution, I can make it a reality</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-paint-brush"></i>
      </span>
      <h4>Design</h4>
      <p>One of my designers will create the perfect look for your product</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-chart-bar"></i>
      </span>
      <h4>Analysis</h4>
      <p>I can propose enhancements and solutions for your existing applications</p>
    </div>
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-tools"></i>
      </span>
      <h4>Support</h4>
      <p>I stand by my software; if a bug is my fault, I’ll fix it for free</p>
    </div>
  </div>
  <div class="row scroll-row">
    <div class="col text-center">
      <a href="#itSolutions" class="btn btn-circle scroll-btn-dark">
        <span class="fa fa-angle-double-down fa-dark animated"></span>
      </a>
    </div>
  </div>
</div>
<div class="section-top">
  <a id="itSolutions"></a>
</div>
<div class="container">
  <div class="row extra-space-row justify-content-center">
    <div class="col-md">
      <h2 class="text-center">IT Solutions</h2>
    </div>
  </div>
  <div class="row extra-space-row justify-content-center">
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-comments"></i>
      </span>
      <h4>Consulting</h4>
      <p>I can provide guidance on purchasing new systems</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-chart-bar"></i>
      </span>
      <h4>Analysis</h4>
      <p>I can analyze your current system for problems</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-cogs"></i>
      </span>
      <h4>Configuration</h4>
      <p>I can configure your servers and set up your office network</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-tools"></i>
      </span>
      <h4>Support</h4>
      <p>I’ll provide you with long-term, post-configuration support</p>
    </div>
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-cloud"></i>
      </span>
      <h4>Hosting</h4>
      <p>I’ll securely host your application or content</p>
    </div>
  </div>
  <div class="row scroll-row">
    <div class="col text-center">
      <a href="#capabilities" class="btn btn-circle scroll-btn-dark">
        <span class="fa fa-angle-double-down fa-dark animated"></span>
      </a>
    </div>
  </div>
</div>
<div class="section-top">
  <a id="capabilities"></a>
</div>
<div class="container">
  <div class="row extra-space-row justify-content-center">
    <div class="col-md">
      <h2 class="text-center">Capabilities</h2>
    </div>
  </div>
  <div class="row extra-space-row justify-content-center">
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="far fa-object-group"></i>
      </span>
      <h4>Mock-ups & Specifications</h4>
      <p>For websites and web or mobile apps</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-hard-hat"></i>
      </span>
      <h4>Web & Mobile App Development</h4>
      <p>Using modern frameworks like <a href="https://angularjs.org/">AngularJS</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://ionicframework.com/">Ionic</a>, and <a href="http://cordova.apache.org/">Cordova</a></p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-cash-register"></i>
      </span>
      <h4>eCommerce Integration</h4>
      <p>Using platforms such as <a href="https://stripe.com/">Stripe</a></p>
    </div>
  </div>
  <div class="row extra-space-row justify-content-center">
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-database"></i>
      </span>
      <h4>Database Design & Analysis</h4>
      <p><a href="https://www.mysql.com/">MySQL</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.mongodb.org/">MongoDB</a>, and many other databases</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-expand-arrows-alt"></i>
      </span>
      <h4>Cross-platform Development</h4>
      <p>iOS, Android, Windows, Mac OS</p>
    </div>
    <div class="col-xs col-sm col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-exchange-alt"></i>
      </span>
      <h4>Automated Data Processing</h4>
      <p>Automated data transformation & conversion</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-tools"></i>
      </span>
      <h4>Server Management</h4>
      <p>Server configuration primarily GNU/Linux and management</p>
    </div>
    <div class="col-xs col-sm-4 col-md-3 text-center">
      <span style="font-size: 5em">
        <i class="fas fa-network-wired"></i>
      </span>
      <h4>Network Configuration</h4>
      <p>Network infrastructure development and configuration</p>
    </div>
  </div>
  <div class="row last-scroll-row">
    <div class="col text-center">
      <a href="#top" class="btn btn-circle scroll-btn-dark">
        <span class="fa fa-angle-double-up fa-dark animated"></span>
      </a>
    </div>
  </div>
</div>
