---
layout: default
---

<!-- Add this div for a background-image -->
  <div class="bg-img">
    <div class="container vh-100">
      <!-- add anchor to scroll to top -->
      <div class="row">
        <a href="#" id="top"></a>
      </div>
      <div class="row align-items-center justify-content-center h-100 mb-n4">
        <div class="col-8 text-center text-light">
          <div class="row">
            <div class="col-12">
              <h1 class="display-4 mt-3 mt-md-5">{{ page.title }}</h1>
              <p class="lead mb-4">{{ page.subtitle }}</p>
            </div>
            <div class="col-12">
              <a href="#second" class="btn btn-round">
                <i class="fas fa-angle-double-down icon-sm icon-light mt-4" title="icon name" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- add anchor to scroll to -->
    <div class="row">
      <a href="#" id="second"></a>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-10 text-center">
        <div class="row align-items-center">
          <div class="col-12">
            <h2 class="text-center mt-4 mb-4">Custom Software</h2>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-comments icon-lg mt-2 pb-2" title="comments" aria-hidden="true"></i>
            <h3 class="text-center">Consulting</h3>
            <p class="text-center">We’ll work together to turn your idea into a viable solution.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-hard-hat icon-lg mt-2 pb-2" title="hard hat" aria-hidden="true"></i>
            <h3 class="text-center">Development</h3>
            <p class="text-center">Once we’ve found a solution, I can make it a reality!</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-paint-brush icon-lg mt-2 pb-2" title="paint brush" aria-hidden="true"></i>
            <h3 class="text-center">Design</h3>
            <p class="text-center">One of my designers will create the perfect look for your product.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 ml-auto">
            <i class="fas fa-chart-bar icon-lg mt-2 pb-2" title="chart bar" aria-hidden="true"></i>
            <h3 class="text-center">Analysis</h3>
            <p class="text-center">I can propose enhancements and solutions for your existing applications.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 mr-auto">
            <i class="fas fa-tools icon-lg mt-2 pb-2" title="tools" aria-hidden="true"></i>
            <h3 class="text-center">Support</h3>
            <p class="text-center">I stand by my software; if a bug is my fault, I’ll fix it for free.</p>
          </div>
          <div class="col-12">
            <a href="#third" class="btn btn-round">
              <i class="fas fa-angle-double-down icon-sm icon-dark mt-3 mb-3" title="icon name" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- add anchor to scroll to -->
    <div class="row">
      <a href="#" id="third"></a>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-10 text-center">
        <div class="row align-items-center">
          <div class="col-12">
            <h2 class="text-center mt-4 mb-4">IT Solutions</h2>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-comments icon-lg mt-2 pb-2" title="comments" aria-hidden="true"></i>
            <h3 class="text-center">Consulting</h3>
            <p class="text-center">Providing guidance on purchasing new systems.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-chart-bar icon-lg mt-2 pb-2" title="chart bar" aria-hidden="true"></i>
            <h3 class="text-center">Analysis</h3>
            <p class="text-center">Analyzing your current system for problems.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-cogs icon-lg mt-2 pb-2" title="cogs" aria-hidden="true"></i>
            <h3 class="text-center">Configuration</h3>
            <p class="text-center">Configuring your servers and set up your office network.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 ml-auto">
            <i class="fas fa-tools icon-lg mt-2 pb-2" title="tools" aria-hidden="true"></i>
            <h3 class="text-center">Support</h3>
            <p class="text-center">Providing you with long-term, post-configuration support.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 mr-auto">
            <i class="fas fa-cloud icon-lg mt-2 pb-2" title="cloud" aria-hidden="true"></i>
            <h3 class="text-center">Hosting</h3>
            <p class="text-center">Securely hosting your apps or content.</p>
          </div>
          <div class="col-12">
            <a href="#fourth" class="btn btn-round">
              <i class="fas fa-angle-double-down icon-sm icon-dark mt-3 mb-5" title="icon name" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-md-5">
    <!-- add anchor to scroll to -->
    <div class="row">
      <a href="#" id="fourth"></a>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-10 text-center">
        <div class="row align-items-center">
          <div class="col-12">
            <h2 class="text-center mt-4 mb-4">Capabilities</h2>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-object-group icon-lg mt-2 pb-2" title="object group" aria-hidden="true"></i>
            <h3 class="text-center">Mock-ups & Specifications</h3>
            <p class="text-center">For websites and web or mobile apps.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-hard-hat icon-lg mt-2 pb-2" title="hard hat" aria-hidden="true"></i>
            <h3 class="text-center">Web & Mobile App Development</h3>
            <p class="text-center">Using modern frameworks like <a href="https://angularjs.org/">AngularJS</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://ionicframework.com/">Ionic</a>, and <a href="http://cordova.apache.org/">Cordova</a>.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-cash-register icon-lg mt-2 pb-2" title="cash register" aria-hidden="true"></i>
            <h3 class="text-center">eCommerce Integration</h3>
            <p class="text-center">Using platforms such as <a href="https://stripe.com/">Stripe</a>.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-database icon-lg mt-2 pb-2" title="database" aria-hidden="true"></i>
            <h3 class="text-center">Database Design & Analysis</h3>
            <p class="text-center"><a href="https://www.mysql.com/">MySQL</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.mongodb.org/">MongoDB</a>, and many other databases.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-expand-arrows-alt icon-lg mt-2 pb-2" title="expand arrows alt" aria-hidden="true"></i>
            <h3 class="text-center">Cross-platform Development</h3>
            <p class="text-center">iOS, Android, Windows, Mac OS.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4">
            <i class="fas fa-exchange-alt icon-lg mt-2 pb-2" title="exchange alt" aria-hidden="true"></i>
            <h3 class="text-center">Automated Data Processing</h3>
            <p class="text-center">Automated data transformation & conversion.</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 ml-auto">
            <i class="fas fa-tools icon-lg mt-2 pb-2" title="tools" aria-hidden="true"></i>
            <h3 class="text-center">Server Management</h3>
            <p class="text-center">Server configuration (primarily GNU/Linux and management).</p>
          </div>
          <div class="col-12 col-sm-4 mb-4 mr-auto">
            <i class="fas fa-network-wired icon-lg mt-2 pb-2" title="network wired" aria-hidden="true"></i>
            <h3 class="text-center">Network Configuration</h3>
            <p class="text-center">Network infrastructure development and configuration.</p>
          </div>
          <div class="col-12 mb-5">
            <a href="#top" class="btn btn-round">
              <i class="fas fa-angle-double-up icon-sm icon-dark mt-3 mb-4" title="icon name" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
